body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slick-slide div {
  outline: none;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.mountains {
  background: url("./assets/images/photo-1417021423914-070979c8eb34.jpg")
    no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  padding-bottom: 14%;
}
